[submodule "tt-multiplexer"]
	path = tt-multiplexer
	url = https://github.com/smunaut/tt-multiplexer
	branch = dev
[submodule "tt"]
	path = tt
	url = https://github.com/TinyTapeout/tt-support-tools
[submodule "gf180mcu"]
	path = gf180mcu
	url = https://github.com/wafer-space/gf180mcu
[submodule "librelane"]
	path = librelane
	url = https://github.com/librelane/librelane
